header {
	flex-direction: row;
}

header button {
	width: 75px;
	border-right: var(--item-border);
	margin: 5px 0;
	background-image: url('../assets/images/back.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
}

header button:hover {
	background-color: rgba(255, 255, 255, .25);
}

header button:active {
	background-color: rgba(255, 255, 255, .5);
}

header #header-wrapper {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

header h2 {
	text-align: left;
}

header #header-info-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header p {
	font-size: 12px;
}

li {
	grid-template-columns: 33px 1fr 100px 30px;
	padding-left: 5px;
	padding-right: 5px;
}

li .checkbox {
	width: 28px;
	height: 28px;
	border: 1px solid var(--header-bg-color);
	background-color: white;

}

li.checked .checkbox {
	background-image: url('../assets/images/tick.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

li.checked input[type=text] {
	text-decoration: line-through;
}

li input[type=text] {
	padding-left: 5px;
}

li input[type=tel] {
	text-align: right;
	width: 100px;
	padding-right: 5px;
}

li .btn-delete {
	background-image: url('../assets/images/delete.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

footer {
	background-color: var(--header-bg-color);
	border-top: var(--item-border);
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	gap: 5px;
}

footer button {
	background-color: var(--footer-button-bg-color);
	font-size: 16px;
	max-width: 150px;
	flex: 1;
	height: 50px;
	border: var(--footer-button-border);
	border-radius: 5px;
}

footer button:disabled {
	background-color: var(--footer-button-disabled-bg-color);
	color: var(--footer-button-disabled-color);
	border: var(--footer-button-disabled-border);
	pointer-events: none;
}

@media screen and (max-width: 450px) {
	header button {
		width: 50px;
		background-size: 20px;
	}

	header p {
		font-size: 11px;
	}

	footer button {
		height: 40px;
		font-size: 12px;
		max-width: 125px;
		padding-left: 2px;
		padding-right: 2px;
	}

	li {
		grid-template-columns: 23px 1fr 80px 20px;
		padding-left: 5px;
		padding-right: 5px;
	}

	li.checked .checkbox {
		background-size: 15px;
	}

	li .checkbox {
		width: 20px;
		height: 20px;
	}

	li input[type=tel] {
		width: 75px;
	}

	li .btn-delete {
		background-size: 15px;
	}
}